.table {
  width: 100%;
}

.thead {
  display: block;
  height: 80px;
  background: #2196f3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: #ffffff;
  padding-top: 25px;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.tbodyRow {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  color: #000000;
  background: #ffffff;
  display: block;
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 25px;
  margin-bottom: 20px;
}

.tbodyRow {
  display: flex;
  position: relative;
}

.theadIndex,
.tbodyIndex {
  margin-left: 30px;
  margin-right: 26px;
}

.theadCountryName,
.tbodyCountryName {
  margin-left: 21px;
  width: 1160px;
  text-align: left;
}
.theadQuantity,
.tbodyQuantity {
  margin-left: 23px;
}
.tbodyCountryName::before {
  content: '';
  width: 1px;
  height: 80px;
  background-color: #b2b2b2;
  position: absolute;
  top: 0;
  left: 78px;
}
.tbodyQuantity::before {
  content: '';
  width: 1px;
  height: 80px;
  background-color: #b2b2b2;
  position: absolute;
  top: 0;
  right: 30%;
}
.theadCountryName::before {
  content: '';
  width: 1px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 78px;
}
.theadQuantity::before {
  content: '';
  width: 1px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 30%;
}
