.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.17;
  text-transform: uppercase;

  color: #000000;

  margin-right: auto;
}
